header{
    width:100%;
    display: block;
    // flex-wrap: wrap;
    border-bottom: 2px dashed @navigation-border;
    
    .img-welcome{
        width:100%;
    }

    .text-welcome{
        width:100%;
        margin:20px 0;
    }
}
