header{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px dashed silver;

    h1{
        width:500px;
        align-self: flex-start;
    }

    nav {
        justify-content: space-between;
        display: flex;
        flex-direction:flex-end;
        width:300px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}